<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .quote-container {
            text-align: justify;
            margin: 0 auto;
            width: 80%; /* Adjust width as needed */
        }
    </style>
</head>
<body>
    <h1>CONGRATS YOU HAVE COMPLETED YOUR ROUTINE.</h1>
    <br><br><br><br>
    <div class="quote-container">
        <h1>"You've conquered today's challenge, but remember, greatness is forged in the crucible of consistency. </h1>
        <h1>Embrace the discomfort, for it is the forge where your strongest self is sculpted."  ~ David Goggins </h1>
    </div>
</body>
</html>
